.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index:10
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 .header{
  background-color: #191970;
  color: white;

  text-decoration: none;
  font-size: 30px;
  padding-left: 1em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000000;
  
}

.App .row{
  margin-top:125px;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: stretch;
  width: 100%;;
  z-index:2
}

.card {
  position: relative;
  max-width: 300px;
  width: 300px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  z-index:1;
  margin:10px;
}

.card.link{
  text-decoration:none;
  color: black;
  padding-left: 1em;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.33);
}


.card .image {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

.card .news-text {
  padding: 5px 10px;
}

.card .title {
  color: #505050;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 1em;
}

.card .description {
  color: #595959;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

.card .url {
  color: #595959;
  font-size: 16px;
}

.card .url:hover {
  color: #404040;
}

.card .author {
  color: #959595;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.card .publishedAt {
  color: #959595;
  font-size: 12px;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

.clearboth {
  clear: both;
}

